<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Shelter</title>
  <style>
    body {
      font-family: 'Lilita One',sans-serif;
      margin: 0;
      padding: 0;
      background-image:url('https://img.freepik.com/fotos-gratis/colecao-de-retratos-de-cachorrinhos-adoraveis_53876-145628.jpg?w=1480&t=st=1701215243~exp=1701215843~hmac=487b8762a8518823b58666fd1b32875e35c4427ad18ca3c2794291a4031dcbba');
      background-repeat: no-repeat;
      background-size:cover;
      display:flex;
      

    }

    header {
      color: #FFFFFF;
      padding: 15px;
      text-align: center;
      background-color:#fff;
      margin-top:70px;
      margin-left:70px;
    }

    nav {
      display: flex;
      background-color: #333;
      overflow: hidden;
      margin-top:70px;
        
        
    }

    nav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;

      text-decoration: none;
      padding: 10px;
      
      
      
    }

    nav a:hover {
      background-color: #ddd;
      color: black;
        margin-top:70px;

    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      
    }

    h1 {
      color: #333;
    }

    p {
      color: #555;
    }
     img {
      max-width: 100%; 
      height: auto; 
      max-height: 150px; 
      margin-bottom: 10px;
      }
  </style>
</head>
<body>
  <header>
    <h1>Animal Shelter</h1>
    <img src="https://img.freepik.com/vetores-gratis/ilustracao-de-desenho-animado-de-cachorro-fofo-e-gato-fofo_138676-3219.jpg?w=996&t=st=1701219807~exp=1701220407~hmac=290959d9e5ec6ba39212f9d173d351581aaf78f9a0c355bb9f184424a2fa0aec" class="logo">

  </header>

  <nav>
    <a href="#">Página Inicial</a>
    <a href="#">Animais para Adoção</a>
    <a href="#">Doações</a>
    <a href="#">Contato</a>
  </nav>

  <div class="container">
    <h2>Bem-vindo ao Animal Shelter</h2>
    <p>Encontre seu novo amigo para toda a vida. Conheça os animais disponíveis para adoção e saiba como fazer doações para apoiar nosso abrigo.</p>
  </div>
</body>
</html>

